@import url('./styles/normalize.css');
@import url('./styles/constants.css');
@import url('./styles/header.css');
@import url('./styles/aside.css');
@import url('./styles/main.css');

html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  width: var(--main-width);
  max-width: var(--main-max-width);
  flex-direction: column;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--main-font-color);
}

h1, h2, h3 {
  margin: 0;
}

.cv {
  width: 100%;
  display: flex;
  flex-direction: row;
}