.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  font-size: var(--font-header);
  font-weight: var(--font-weight-header);
  padding-top: var(--padding-header-top);
  padding-bottom: var(--padding-header-bottom);
}

.header__caption {
  font-size: var(--font-header);
  font-weight: var(--font-weight-header);
}

.header__social {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  margin: 0;
}

.header__social > a:not(:last-child)::after {
  content: '|';
  color: var(--second-font-color);
  margin: 0 var(--social-margin) 0 var(--social-margin);
}

.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--contacts-gap);
  padding-left: var(--social-margin);
}

.header__contacts > a {
  color: var(--contacts-font-color);
}