.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main__section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: var(--section-padding-bottom);
}

.main__section > *:first-child {
  flex-grow: 0.2;
}

.main__section > *:last-child {
  flex-grow: 0.8;
  padding-left: var(--section-padding-left);
}

.main__section > img {
  max-width: var(--photo-max-size);
  max-height: var(--photo-max-size);
  border-radius: calc(var(--photo-max-size) / 2);
}

.main__section > h1 {
  font-family: 'Abril Fatface', serif;
  text-transform: uppercase;
  font-size: var(--font-name);
}

.main__section > h3 {
  text-transform: uppercase;
  font-size: var(--caption-font-size);
  color: var(--second-font-color);
  letter-spacing: calc(var(--caption-font-size) / 100 * 3);
  font-weight: var(--font-weight-section);
}